# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Virtual env
venv/
.venv/

# VSCode
.vscode/

# Docker
postgres_data/

# Logs
*.log

# Mac/Linux
.DS_Store

# Node
node_modules/

# Build
dist/
build/

# Alembic
alembic/__pycache__/

#script
.start.sh
